<?xml version="1.0" encoding="UTF-8"?>

<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

<!--
 | This is the configuration file for Maven. It can be specified at two levels:
 |
 |  1. User Level. This settings.xml file provides configuration for a single user,
 |                 and is normally provided in ${user.home}/.m2/settings.xml.
 |
 |                 NOTE: This location can be overridden with the CLI option:
 |
 |                 -s /path/to/user/settings.xml
 |
 |  2. Global Level. This settings.xml file provides configuration for all Maven
 |                 users on a machine (assuming they're all using the same Maven
 |                 installation). It's normally provided in
 |                 ${maven.conf}/settings.xml.
 |
 |                 NOTE: This location can be overridden with the CLI option:
 |
 |                 -gs /path/to/global/settings.xml
 |
 | The sections in this sample file are intended to give you a running start at
 | getting the most out of your Maven installation. Where appropriate, the default
 | values (values used when the setting is not specified) are provided.
 |
 |-->
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <!-- localRepository
   | The path to the local repository maven will use to store artifacts.
   |
   | Default: ${user.home}/.m2/repository
  <localRepository>/path/to/local/repo</localRepository>
  -->

  	  <profiles>
		<profile>
			<id>JDK1.8</id>
			<activation>
				<activeByDefault>true</activeByDefault>
				<jdk>1.8</jdk>
			</activation>
			<properties>
				<maven.compiler.source>1.8</maven.compiler.source>
				<maven.compiler.target>1.8</maven.compiler.target>
				<maven.compiler.compilerVersion>1.8</maven.compiler.compilerVersion>
			</properties>
		</profile>
		<profile>
			<id>nexus</id>
			<repositories>
				<distributionManagement>
					<repository>
						<id>Megvii_Central</id>
						<url>http://10.199.1.20:8081/repository/maven-releases/</url>
					</repository>
					<snapshotRepository>
						<id>Megvii_Snapshots</id>
						<url>http://10.199.1.20:8081/repository/maven-snapshots/</url>
					</snapshotRepository>
				</distributionManagement>
				<repository>
					<id>Megvii_Central</id>
					<url>http://10.199.1.20:8081/repository/maven-public/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>Megvii_Releases</id>
					<!-- url原为http://central，指向http://repos.d.xxx.com/nexus/content/groups/public 
					其中xxx一般为公司名 -->
					<url>http://10.199.1.20:8081/repository/maven-releases/</url>
					<!-- 表示可以从此仓库下载release版本 -->
					<releases>
						<enabled>true</enabled>
					</releases>
					<!-- 表示不可以从此仓库下载snapshot版本 -->
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
			</repositories>
			<!-- 插件仓库 -->
			<pluginRepositories>
			        <pluginRepository>
			            <id>Megvii_Central</id>
			            <url>http://10.199.1.20:8081/repository/maven-public/</url>
			            <releases>	
			                <enabled>true</enabled>
			            </releases>
			            <snapshots>
			                <enabled>true</enabled>
			            </snapshots>
			        </pluginRepository>
		    	</pluginRepositories>
		</profile>
		<!-- 配置activeProfiles后，此处添加snapshots，可以使snapshots被搜索到。 -->				
	</profiles>

	
	<servers>
		<server>   
			<id>central-releases</id>   
			<username>admin</username>
			<password>admin123</password>   
		</server>
		<server>   
			<id>central-snapshots</id>   
			<username>admin</username>   
		  	<password>admin123</password>   
	  	</server>    
	</servers>

	<!--添加id，激活profile。 -->
	<activeProfiles>
		<activeProfile>nexus</activeProfile>
		<activeProfile>JDK1.8</activeProfile>
	</activeProfiles>
</settings>
