<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>org.mongodb.mongod</string>
        <key>ProgramArguments</key>
        <array>
            <string>/usr/local/apps/mongodb-osx-3.4.10/bin/mongod</string>
            <string>run</string>
            <string>--config</string>
            <string>/usr/local/apps/mongodb-osx-3.4.10/config/mongod.conf</string>
        </array>
        <key>RunAtLoad</key>
        <true/>
	<key>WorkingDirectory</key>
        <string>/usr/local/apps/mongodb-osx-3.4.10</string>
        <key>StandardErrorPath</key>
        <string>/Users/zj/Documents/repo/mgdb/log/error.log</string>
        <key>StandardOutPath</key>
        <string>/Users/zj/Documents/repo/mgdb/log/mongo.log</string> 
    </dict> 
</plist>
